@model Product
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <h1>Thêm mới sản phẩm</h1>
    <br />  
    <div class="mb-3">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" >
        <span asp-validation-for="@Model.Name" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Amount"></label>
        <input asp-for="@Model.Amount" class="form-control" >
        <span asp-validation-for="@Model.Amount" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Price"></label>
        <input asp-for="@Model.Price" class="form-control" >
        <span asp-validation-for="@Model.Price" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description"  class="form-control" >
        <span asp-validation-for="@Model.Description" style="color:red"></span>
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Trở lại</a>
</form>

